:root{
    --darkblue: #083B4B;
    --blue: #1289B2;
    --green: #08D6A0;
    --yellow: #FFD166;
    --red: #F0466F;
}

#body{
    background-color: var(--darkblue);
}

.main-title{
    font-size: 60px;
    font-weight: 700;
}

ul{
    list-style: none;
}


li{
    font-weight: 700;
    width: 100px;
    height: 100px;
    background-color: var(--blue);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg__green{
    background-color: var(--green);
}

.bg__yellow{
    background-color: var(--yellow);
}
.bg__red{
    background-color: var(--red);
}
